<footer class="footer">
    <div class="container">
        <div class="row justify-content-between align-items-center pt-5">
          <h2 class="text-white col-lg-4 col-sm-12" >   <a class="navbar-brand logo"routerLink="/landingPage">DevZone</a>
            
          </h2>
          
          <div class="col-lg-6 col-sm-12  row justify-content-between align-items-center">
            <div class="mb-3 col-10">
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address">
              
            </div>
            <div class="mb-3 col-2 ">
             <!-- <input type="submit" value="" class="btn ps-3 pe-3"> -->
             <button class="sendBtn" type="submit">Send </button>
            </div>
      
          </div>
        </div>
      
      
        <div class="row">
      <!-- start -->
      <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-center">
      <div class="">
        <!-- <h2 class="text-white">Auto Car </h2> -->
        <p> We hope that you have benefited from our services and that you have found your complete answer to your question</p>
      </div>
      </div><!-- end -->
      <!-- start -->
      <div class="col-lg-3 col-md-6 col-sm-12 ">
        <div class="footer__icon">
          <h3 class="text-white">Contact Info</h3>
          <p> <i class="fa-solid fa-location-dot"></i> <span class="ms-1">Address: 44 New Design Street,</span></p>
         <p><i class="fa-solid fa-message"></i> <span class="ms-1">info@themevessel.com</span></p>
        <p><i class="fa-solid fa-phone"></i> <span class="ms-1">01118327081</span></p>
        <p><i class="fa-solid fa-fax"></i><span class="ms-1">0106 7682298</span></p>
        </div>
        </div><!-- end -->
        
      
        <!-- start -->
      <div class="col-lg-2 col-md-6 col-sm-12 text-white">
        <div>
          <h3 class="text-white">Useful Links</h3>
          <ul class="color">
            <li><i class="fa-solid fa-angle-right"></i> Home</li>
            <li><i class="fa-solid fa-angle-right"></i> About us</li>
            <li><i class="fa-solid fa-angle-right"></i> Contact us</li>
            <li><i class="fa-solid fa-angle-right"></i>Services</li>
            <li><i class="fa-solid fa-angle-right"></i> Blogs</li>
            <li><i class="fa-solid fa-angle-right"></i>  Elements</li>
            <li><i class="fa-solid fa-angle-right"></i>   Car Listing</li>
            <li><i class="fa-solid fa-angle-right"></i>   Gallary</li>
          </ul>
        </div>
        </div><!-- end -->
         <!-- start -->
      <div class="col-lg-3 col-md-6 col-sm-12 text-white">
        <div>
          <h3 class="text-white">Our Services</h3>
          <div class="row justify-content-between align-items-center ">
            <div class="col-4 mb-2">
              <div class="w-100">
                <img src="../../assets/images/interview.jpeg" alt="" class="w-100 rounded" height="80">
               
              </div>
              <!-- <h6>Interview</h6> -->
            </div>
            <div class="col-4 mb-2">
              <div class="w-100">
                <img src="../../assets/images/about2.jpeg" alt="" class="w-100 rounded" height="80" >
               
              </div>
              <!-- <h6>Review code</h6> -->
            </div>
           
            <div class="col-4 mb-2">
              <div class="w-100">
                <img src="../../assets/images/teach.jpeg" alt="" class="w-100 rounded" height="80">
               
              </div>
              <!-- <h6>Teaching</h6> -->
            </div>
          
            
        </div>

        <div class="row">
          <div class="col-lg-4">
           <h6>Interview</h6>
          </div>

          <div class="col-lg-4">
            <h6>Review code</h6>
           </div>

           <div class="col-lg-4">
            <h6>Teaching</h6>
           </div>
        </div>
        </div><!-- end -->
        
        </div>
      </div>
      <hr>
      
      <div class="container">
        <div class="row justify-content-between align-items-center">
          <div class="col-lg-4 col-sm-12 pt-5">
      <p>© 2023 All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 col-sm-12 pt-5 text-end">
            <div class="social-list">
              
                  <span><i class="fa-brands fa-facebook"></i></span>
             
                  <span><i class="fa-brands fa-twitter"></i></span>
              
                  <span><i class="fa-brands fa-instagram"></i></span>
              
                  <span><i class="fa-brands fa-github"></i></span>
              
                  
                  <span><i class="fa-brands fa-youtube"></i></span>
              
          </div>
          </div>
        </div>
      </div>
<!-- </footer> -->
