  <div class="text-center position-absolute top-50 start-50 translate-middle">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 24rem;">
          <img src="../../assets/images/gallery-02.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Instructor</h5>
            <p class="card-text">
              I’m a Instructor, looking for work
            </p>
            <a routerLink="/register" (click)="instructorRole()" class="btn">Sign-up</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card ms-5" style="width: 24rem;">
          <img src="../../assets/images/gallery-01.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Student</h5>
            <p class="card-text">
              I’m a Student, looking for Learning.
            </p>
            <a routerLink="/register" class="btn"  (click)="userRole()">Sign up</a>
          </div>
        </div>
      </div>
    </div>
  </div>