.select {
    width: 100%;
    background-color: white;
    height: 35px;
  }

  input {
    width: 100%;
    height: 35px;
  }

  i {
    margin-bottom: 10px;
  }

  .btn:hover {
    background-color: white !important;
    color: #3566b6;
  }

  img {
    position: relative;
    animation: up-and-down 5s linear infinite;
  }

  /* start anaimation */
  @keyframes up-and-down {

    0%,
    100% {
      top: 0;
    }

    50% {
      top: -50px;
    }
  }