

         
             <div class="shadow p-3 mb-3 mt-3 bg-body rounded">
                <input readonly type="text" class="addques" placeholder="What's on your mind" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >
            </div>
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true"  >
                <div class=" text-center modal-dialog  ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="modal-title" id="staticBackdropLabel"> ADD QUESTION</span>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <p @fadein class="successadd text-start" *ngIf="success">Success</p>
                        <div class="modal-body">    
                           
                            <div>
                                <form [formGroup]="formAddQuestion" (ngSubmit)="savequestion()" >
                                    <div>
                                        <div class="text-danger text-start mt-2" *ngIf="formAddQuestion.get('body')?.errors !=null
                                        && formAddQuestion.get('body')?.touched " >
                                        <!-- <span *ngIf="formAddQuestion.controls['question_body'].hasError('required')">Please Enter Your Question </span> -->
                                        <ng-container *ngIf="formAddQuestion.controls['body'].hasError('required'); else elseTemplate">
                                            <span >Please Enter Your post </span>
                                        </ng-container>
                                        <ng-template #elseTemplate>
                                            <span *ngIf="formAddQuestion.controls['body'].hasError('minlength') ">You must not enter less than 10 characters </span>
                                        </ng-template> 
                                    </div> 
                                        <input type="hidden" formControlName="instructor_id"  >
                                        <textarea appTextareaautosize rows="2" [minRows]="2" [maxRows]="8" 
                                        placeholder="Type your question here..."
                                        class="text-input inputadd mb-2"
                                        formControlName="body"
                                        ></textarea>
                                    </div> 
                                    <div class="modal-footer" >
            
                                        <button class="main-btn"  data-bs-dismiss="modal"  type="submit" >Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         <div  class="postsContainer  d-flex flex-column justify-content-center align-items-center " *ngFor="let question
           of list | paginate
           : {
               itemsPerPage: tableSize,
               currentPage: page,
               totalItems: count
             }; let i = index ; trackBy:trackquetion ">
              <!-- start -->

             
              <div class="_question mt-3  shadow p-3   bg-white rounded">
                  <div class="img_question d-flex justify-content-between">
                      <div class="img d-flex align-items-center mb-2" >
                          <div class="img_question_wrapper">
                              <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" srcset="">
                          </div>
                          <div class="d-flex flex-column">
                              <span >{{question.instructor_name}}</span>
                              <span >{{question.rate}}</span>
                          </div>       
                      </div>
                      
                      <div class="dropdown" *ngIf="question.insructor_creator==user_logend.id && question.comments.length < 1" >
                          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="fa-solid fa-pen pt-1 align-self-end " ></i>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1"   >
                              <li><div class="dropdown-item  " (click)="visibleupdatequestion(question.id,question.body)">Edit</div></li>
                              <li><span class="dropdown-item  " (click)='deletequestionbyid(question.id)' >Delete</span></li>
                          </ul>
                      </div>
                  </div>
                  <div class="container-update-question d-flex flex-column align-items-center p-2" *ngIf="textupdatequestion==question.id" >
                      <span class="align-self-end p-3 spanbtn " (click)="visibleupdatequestion(question.id,question.body) " >x</span>
                      <textarea  appTextareaautosize rows="5" [minRows]="5" [maxRows]="15" name="textupdatequestion"
                      [(ngModel)]="bodyupdatequestion" 
                      placeholder="Updating here..."
                      class="text-input mt-3 mb-3 "
                      ></textarea>
                      <input type="text" class="subtrack mb-2"  [(ngModel)]="subtrack_name" disabled>
                      <button class="main-btn p-1 mb-3 " (click)="updatequestionbyid(question.id)" > Update</button>
                  </div>
                  <p class="py-2 container " >{{question.body}}</p>
                  <hr>
                  <div class="event d-flex justify-content-between px-5">
                      <i class="fa-solid fa-comment" (click)="getcomments(question.id)" ><span class="ps-1">{{question.comments.length}}</span></i>
                      <i class="fa-solid fa-heart"></i>
                  </div>
                  <hr>
                  <!-- end question -->
                  <!-- comments start -->
                  <div class="_comments mt-3 " >
                      <div class="container" *ngFor="let qcomment of question?.comments let ic = index ; trackBy:trackqcomment " >
                          <div *ngIf="question?.id==qcomment?.postId && SQComments ==question?.id">
                              <div class="img_comment d-flex justify-content-between" >
                                  <div class="d-flex align-items-center mb-2" >
                                      <div class="img_comment_wrapper">
                                          <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" srcset="">
                                      </div>
                                      <span >{{qcomment.userName}}</span>
                                  </div>
                                  <div class="dropdown"  *ngIf="question.insructor_creator == user_logend.id"  >
                                      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                          <i class="fa-solid fa-pen pt-1 align-self-end " ></i>
                                      </button>
                                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                          <li><span class="dropdown-item  " (click)="visiabletextupdateqcomment(qcomment?.id,qcomment.body)">Edit</span></li>
                                          <li><span class="dropdown-item  "(click)="deleteqcommentbyid(qcomment.id)">Delete</span></li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="container-update-question d-flex flex-column align-items-center p-2" *ngIf="textupdateqcomment==qcomment?.id" >
                                  <span class="align-self-end p-3 spanbtn " (click)="visiabletextupdateqcomment(qcomment.id,qcomment.body) " >x</span>
                                  <textarea  appTextareaautosize rows="5" [minRows]="5" [maxRows]="15" name="textupdatequestion"
                                  [(ngModel)]="bodyupdateqcomment" 
                                  placeholder="Updating here..."
                                  class="text-input mt-3 mb-3 "
                                  ></textarea>
                                  <button class="main-btn p-1 mb-3 " (click)="updateqcommentbyid(qcomment?.id)" > Update</button>
                              </div>
                              <p class="py-2 container">{{qcomment?.body}}</p>
                              <hr>
                              <div class="event d-flex justify-content-between px-5">
                                  <i class="fa-solid fa-comment comment" ><span class="ps-1"></span></i>
                                  <i class="fa-solid fa-heart comment "></i>
                              </div>
                              <hr>

                          </div>
                      </div>
                  </div>
                  <div>
                      <div >
                          <textarea appTextareaautosize rows="2" [minRows]="2" [maxRows]="15" 
                          placeholder="Type your anwser here..."
                          class="text-input"
                          [(ngModel)]="bodynewqcomment[question.id]"
                          (keyup.enter)="addnewqcomment(user_logend.id,question.id)"
                          ></textarea>
                      </div>
                      
                  </div><!--end-->
              </div><!--end posts-->  
          </div>
          <div class="d-flex justify-content-center pagi">
            <pagination-controls
              previousLabel="Prev"
              nextLabel="Next"
              (pageChange)="onTableDataChange($event)"
            >
            </pagination-controls>
          </div>
    



















 
 
 
 
 
 
 
 
 
 
 
 
 
 
 






