<section class="about-us">
      
    <div class="container">

        <h2 class="main-title">About Us</h2>
      <div class="row justify-content-between">
        <div class="col-lg-4 ">
      <div class="about-img  ">

    <img src="../../assets/images/about.jpeg" alt="">
      </div></div>

      <div class="col-lg-6  d-flex align-items-center">
        <div class="about-content ">
          <h2></h2>
<p class="text-black-50"> Our website aims to provide assistance to specialists in the fields of software</p>
<h4>The site consists of two parts: </h4>

<p class="text-black-50"> <i class="fa-solid fa-person-circle-question"></i> Users can ask their questions and they are answered by specialists </p>

  
  <p class="text-black-50"> <i class="fa-solid fa-cash-register"></i> Users can request paid services</p>
   

        </div>
      </div>
    </div></div>

  </section>
